.list {
	background-color: blue;
	width: 800px;
}

header {
	width: 100%;
	background-color: green;
	color: pink;
	font-size: 40px;
	border-style: solid;
	border-width: 3px;
	border-color: black;
	text-align: center;
}

li {
	display: inline;
	padding: 5px;
	border-style: solid;
	border-color: gray;
	border-width: 2px;
	background-color: pink;
}

#headline {
	font-style: italic;
	font-size: 25px;
	margin-bottom: -30px;
}

.span {
	color: red;
}
.paradise {
	width: 75%;
	border: black;
	border-width: 1px;
	border-style: solid;
	padding-left: 5px;
	display: inline-flex;
}

table, tr, td, th {
	border-style: solid;
	border-color: black;
	border-width: 2px;
	text-align: left;
	padding: 5px;
	font-size: 24px;
} 

table {
	background-color: pink;
	display: inline-block;
	height: 10%;
	width: 25%;
	
}

tr, td, th {
	background-color: rgb(43, 240, 89);
	height: 10%;
	width: 25%;
	
}

#watermelon {
	display: inline;
	
}

.link {
	display: inline;
}

iframe {
	display: inline;

}